@model SportsStore.Domain.Entities.Product


<div class="card bg-light my-1">
    <div class="card-body">
        @if (Model.ImageData != null)
        {
            <div class="float-left mr-2">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage","Product",new { Model.ProductID })" />
            </div>
        }
        <h3 class="mb-sm-2">
            <strong class="d-none d-sm-inline-block">@Model.Name</strong>
            <strong class="d-inline-block d-sm-none h-50 w-50">@Model.Name</strong>
            <span class="badge badge-pill badge-primary float-right">@Model.Price.ToString("c")</span>
        </h3>
        <span class="lead d-none d-sm-block">@Model.Description</span>
        <span class="lead d-inline-block d-sm-none w-50">@Model.Description</span>
        <!-- BeginForm start a form tag with, in this case, the name of action to send the submitted data and controller name -->
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "float-right" }))
        {
            <div class="float-right">
                <!--Create a input tag field hidden where each property is setted with the value of the property passed in method-->
                @Html.HiddenFor(x => x.ProductID)
                <!--Create a input tag hidden setting name and id with the first parameter while in the second parameter we set the value of -->
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-info" value="Add to cart" />
            </div>
        }
    </div>
</div>
